build/
**/.DS_Store

# iOS Example directories (large circuit files)
ios/ExampleApp/IMP1FrameworkExample/Examples/100k/
ios/ExampleApp/IMP1FrameworkExample/Examples/200k/
ios/ExampleApp/IMP1FrameworkExample/Examples/400k/
ios/ExampleApp/IMP1FrameworkExample/Examples/800k/
ios/ExampleApp/IMP1FrameworkExample/Examples/1600k/
ios/ExampleApp/IMP1FrameworkExample/Examples/rarimo-bionet/
