*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
output.apks
app-debug.apks
app-release.apks
.kotlin
release/
zkey_pack_0/src/main/assets/*.zkey
zkey_pack_1/src/main/assets/*.zkey
zkey_pack_rarimo/src/main/assets/*.zkey
zkey_pack_zkp2p/src/main/assets/*.zkey
